@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  /* primary color */
--strong-cyan: hsl(172, 67%, 45%);
/* secondary colors */
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

* {
  font-family: 'Space Mono', monospace;
}

body {
  background-color: var(--Light-grayish-cyan);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content {
  background-color: var(--White);
  width: 800px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content p {
  color: var(--Dark-grayish-cyan);
  font-weight: 700;
}

.btns-container {
  display: grid;  
  grid-template-columns: repeat(3, 112px);
  gap: 10px;
}

.input-btn {
  padding: 15px 6px;
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-grayish-cyan);
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}

.custom {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
}

.col-1-input {
  border: none;
  width: 350px;
  height: 35px;
  background-color: var(--Very-light-grayish-cyan);
  padding: 5px 3px;
  
}

input:focus {
  outline-color: var(--strong-cyan);
}

.output {
  background-color: var(--Very-dark-cyan);
  padding: 10px;
  border-radius: 15px;
}

.output p {
  color: var(--Grayish-cyan);
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.output span {
  color: var(--Very-light-grayish-cyan);
  font-weight: 700;
}

.output h1 {
  margin-left: 80px;
  position: relative;
  top: 20px;
  display: inline;
  font-size: 2.5rem;
  color: var(--strong-cyan);
}

.reset-container {
  display: flex;
  justify-content: center;
}

.reset-btn {
  margin-top: 130px;
  padding: 10px ;
  width: 330px;
  border-radius: 5px;
  border: none;
  background: var(--strong-cyan);
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 1.1rem;
}